   <%- include('partials/header') %>
    <h1>Submit a Post</h1>
    <br>
    <br>
   
   <form action="/post" method="POST" class="w-50">
 <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
        >
    </div>

    <div class="mb-3">
        <label for="post" class="form-label">Content</label>
        <textarea
            class="form-control"
            id="post"
            name="post"
            rows="10"
            required
        ></textarea>
    </div>

  
      <input type="submit" value="Submit" class="btn btn-primary" />
    </form>


<%- include('partials/footer') %>