<%- include('partials/header') %>
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Post Successful</h1>
    <p class="col-md-8 mx-auto fs-4 text-center">
        Your post has been submitted successfully!
         Thank you for sharing your thoughts with us.
    </p>
    <a href="/submission" class="btn btn-primary btn-lg">Write Another Post</a>
  </div>
</div>

<%- include('partials/footer') %>
