html,
body {
    height: 100%;
    margin: 0;
}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    font-family: "merriweather-regular", "Merriweather", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3eaea5;

}

h1 {
    font-family: "merriweather-regular", "Merriweather", sans-serif;}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Merriweather", serif;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}